.Password {
    display: flex;
    margin-bottom: 40px;
}

.PasswordText {
    margin-top: 4px;
    margin-right: 149px;
    font-size: 21px;
    line-height: 19px;
}

.PasswordField {
    width: 330px;
    height: 25px;
    border: 1px solid #999999;
    margin-right: 18px;
}

.PasswordRequire {
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}

.PasswordRetry {
    display: flex;
    margin-bottom: 32px;
}

.PasswordRetryText {
    margin-top: 4px;
    margin-right: 65px;
    font-size: 21px;
    line-height: 19px;
}

.PasswordRetryField {
    width: 330px;
    height: 25px;
    border: 1px solid #999999;
    margin-right: 18px;
}

.PasswordRetryRequire {
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}

.Line {
    width: 990px;
    border-bottom: 1px solid #E5E4E4;
    margin-bottom: 32px;
}



